.header{
    width: 100%;
    height: 100px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.nav_main > ul{
    width: 400px;
    display: flex;
    list-style: none;
    justify-content: space-around;
    
    
}

.nav_main a{
    color: white;

}

.icon{
	vertical-align:bottom;
}

.nav_sub > ul{
    width: 300px;
    display: flex;
    list-style: none;
    justify-content: space-around;
}
.nav_sub a{
    color: white;
}