<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.keem.s1.member.MemberDAO"><!-- join하려고 하는 mapper -->
	
	<insert id="addFile" parameterType="MemberFileDTO">
		INSERT INTO MEMBERFILE (FILENUM,ID,FILENAME,ORINAME)
		VALUES (FILE_SEQ.NEXTVAL,#{id},#{fileName},#{oriName})
	</insert>
	
	<select id="mypage" parameterType="MemberDTO" resultMap="mypageResult">
		SELECT ID,M.NAME,M.EMAIL,M.PHONE,MF.FILENUM,MF.FILENAME,MF.ORINAME 
			FROM MEMBER M 
				LEFT OUTER JOIN
        			MEMBERFILE MF
        				USING(ID)
        	WHERE ID=#{id} 

	</select>
	
	<resultMap type="MemberDTO" id="mypageResult">
		<id column="id" property="id"/> <!-- Pk로 쓰는걸 넣어달라 id컬럼명에 들어가는 값 property에 멤버변수명  -->
		<result column="name" property="name"/>
		<result column="email" property="email"/>
		<result column="phone" property="phone"/>
		<association property="memberFileDTO" javaType="MemberFileDTO">
			<id column="fileNum" property="fileNum"/>
			<result column="fileName" property="fileName"/><!-- 그외 나머지는 result column명이 똑같으면 안써줘도 됨 -->
			<result column="oriName" property="oriName"/>		
		</association> <!-- 1:1 일때 쓰는것 -->
		
	</resultMap>

	<select id="login" parameterType="MemberDTO" resultType="MemberDTO">
		SELECT ID, NAME FROM MEMBER WHERE ID=#{id} AND PW=#{pw}
	</select>

	<insert id="join" parameterType="MemberDTO" >
		INSERT INTO MEMBER 
		VALUES (#{id},#{pw},#{name},#{phone},#{email})
	</insert>
	
	
	
</mapper>
